@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#projects * {
	transition: all 0.5s ease;
}

@media screen and (min-width: 360px) /* and (max-width: 1024px) */ {
	#projects {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.main-box-projects {
		gap: 2vh;
		width: 90vw;
		display: flex;
		margin-top: 5vh;
		overflow: scroll;
		position: relative;
		margin-bottom: 4vh;
		height: fit-content;
		flex-direction: column;
		outline: 2px solid white;
		padding: clamp(5px, 3vw, 20px);
	}

	.main-box-projects > span {
		width: 100%;
		padding: 5px;
		display: flex;
		justify-content: end;
		font-size: clamp(1rem, 6vw, 3rem);
		line-height: clamp(1rem, 6vw, 4rem);
		font-family: "Bebas Neue", sans-serif;
	}

	.repositories {
		gap: 3vh;
		width: 100%;
		display: flex;
		padding: 2.5px;
		height: fit-content;
		flex-direction: column;
		/* outline: 2px solid blue; */
	}

	.repository {
		width: 100%;
		padding: 5px;
		display: flex;
		height: fit-content;
		flex-direction: column;
		/* outline: 2px solid red; */
		gap: clamp(5px, 1vh, 10px);
	}

	.repository > a > span {
		font-size: clamp(1rem, 6vw, 2.5rem);
		line-height: clamp(1rem, 6vw, 2.5rem);
		font-family: "Bebas Neue", sans-serif;
	}

	.repository > p {
		font-size: clamp(1rem, 2.4vw, 3rem);
	}

	.repository > ul > li {
		text-align: center;
		border-radius: 16px;
		padding-top: clamp(4px, 1.5vw, 4px);
		padding-left: clamp(12px, 3vw, 12px);
		padding-right: clamp(12px, 3vw, 12px);
		padding-bottom: clamp(4px, 1.5vw, 4px);
		font-size: clamp(0.875rem, 2.4vw, 1rem);
		line-height: clamp(0.875rem, 2.75vh, 1.25rem);
	}

	.repository-tags {
		gap: 5px;
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 1280px) {
	.repositories {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.repository > a > span {
		font-size: clamp(1rem, 6vw, 2rem);
		line-height: clamp(1rem, 6vw, 2rem);
	}

	.repository > p {
		font-size: clamp(1rem, 1vw, 3rem);
	}
}
