@media screen {
	#about-me {
		display: flex;
		overflow: scroll;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.main-box {
		width: 90vw;
		position: relative;
		height: 90vh;
		outline: 2px solid white;
		overflow: scroll;
		padding: clamp(5px, 3vw, 10px);
	}

	.main-box > span {
		width: 100%;
		padding: 5px;
		display: flex;
		justify-content: end;
		font-size: clamp(1rem, 6vw, 3rem);
		line-height: clamp(1rem, 6vw, 4rem);
		font-family: "Bebas Neue", sans-serif;
	}

	.content-box {
		width: 100%;
		display: flex;
		padding: 2.5px;
		height: fit-content;
		flex-direction: column;
		gap: clamp(10px, 2vh, 15px);
		/* outline: 2px solid red */
	}

	.sub-box {
		padding: 2.5px;
		height: fit-content;
		/* outline: 2px solid green; */
	}

	.text-content {
		gap: 2vh;
		width: 100%;
		padding: 5px;
		display: flex;
		height: fit-content;
		flex-direction: column;
		/* outline: 2px solid blue; */
	}

	.text-content > span {
		font-size: clamp(1rem, 6vw, 3rem);
		line-height: clamp(1rem, 6vw, 3rem);
		font-family: "Bebas Neue", sans-serif;
	}

	.text-content > p {
		font-size: clamp(1rem, 1.5vw, 1.5vw);
		/* font-size: clamp(1rem, 3vw, 3rem); */
	}

	.other-content {
		gap: 20px;
		width: 35vw;
		padding: 5px;
		display: flex;
		height: fit-content;
		/* outline: 2px solid rgb(255, 0, 0); */
	}

	.other-content > a > span {
		/* font-size: clamp(1.25rem, 4vw, 4rem); */
		font-size: clamp(1.25rem, 2.5vw, 2.5vw);
	}
}

@media screen and (min-width: 768px) {
	.text-content > p {
		font-size: clamp(1rem, 2.4vh, 3rem);
		/* font-size: clamp(1rem, 3vw, 3rem); */
	}
}

@media screen and (min-width: 1280px) {
	.content-box {
		gap: 5vw;
		height: 78vh;
		flex-direction: row;
	}
	.sub-box {
		height: 90%;
	}

	.main-box {
		position: relative;
		height: 90vh;
	}

	.text-content > p {
		font-size: clamp(1rem, 1.5vw, 1.5vw);
	}

	.other-content > a > span {
		font-size: clamp(1.25rem, 2.5vw, 2.5vw);
	}
}
