@media screen and (min-width: 360px) and (max-width: 1023px) {
	.nav-option {
		display: flex;
		transition: all 0.3s;
		border-radius: 9999px;
		width: clamp(5px, 2vw, 13px);
		height: clamp(5px, 2vw, 13px);
	}
}

@media screen and (min-width: 1024px) {
	.nav-option {
		width: 10px;
		height: 30px;
		display: flex;
		border-radius: 10px;
		transition: all 0.3s;
	}
}
