@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	color: white;
	font-family: "Inconsolata", monospace;
	scroll-behavior: smooth;
}

.test {
	outline: 2px solid red;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}

.font-systemui {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sliders {
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}
