@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* #030d17 */
* {
	color: white;
	font-family: "Inconsolata", monospace;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
	overflow: hidden;
}

#app {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	background-color: white;
}

.font-systemui {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sliders {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	/* padding-top: 10vh; */
	width: 100%;
	height: 100vh;
}

@media screen and (min-width: 1024px) {
	.nav-option {
		display: flex;
		align-items: center;
		width: 30px;
		height: 30px;
		font-size: 0px;
		border-radius: 9999px;
		padding-left: 1vh;
		transition: all 0.3s;
	}

	.nav-option:hover {
		width: 90px;
		height: 30px;
		font-size: 1rem;
		transition: all 0.3s;
	}

	.current {
		width: 45px;
	}

	/* .tech-tooltip {
		min-height: 1px;
		height: 0;
		font-size: 0;
		top: 90%;
		transition: all 0.1s;
	}

	.tech-icon:hover > .tech-tooltip {
		font-size: 0.9vw;
		top: 100%;
		min-height: 5px;
		height: fit-content;
		transition: all 0.2s;
	} */
}

@media screen and (min-width: 360px) and (max-width: 1023px) {
	.current {
		background-color: yellow;
	}

	.nav-option {
		display: flex;
		align-items: center;
		width: 5px;
		height: 5px;
		font-size: 0px;
		border-radius: 9999px;
		transition: all 0.3s;
	}
}
