@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* #030d17 */
* {
	color: white;
	font-family: "Inconsolata", monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

/* div,
li,
span,
header {
	outline: 2px solid red;
} */

/* 
header {
	outline: 2px solid red;
}

footer {
	outline: 2px solid red;
} */

/* #principal {
	background-image: url("../public/index-bg.png");
	background-size: cover;
	opacity: 50%;
	background-repeat: no-repeat;
} */
